html,body {
	height: 100%;
}

ul,li,div {
	padding:0;
	marign:0;
}
li {
	list-style:none;
}
.navbar-default {
	background-color:#fff;
	border:0;
	opacity: 0.6;
}
.navbar-nav {
	width: 100%;
	text-align: center;
	
}
.navbar-nav li {

}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover {
	font-size: 21px;
	padding:20px 10px;
	line-height: 30px;
	color:#C327D4;
	transition:all 0.5s;
}
.navbar-nav li a:hover {
	transform:rotate(360deg);
}
.content {
	width: 100%;
}
.frist_box {
	height: 970px;
	background:#F3F3F3  url(../img/banner.jpg) no-repeat center center fixed;
}

.banner {
	box-sizing: border-box;
	padding:200px 0;
	height: 100%;
}
.banner p {
	font-size: 36px;
	font-weight: bold;
	color:#999;
}
.banner .pt {
	width: 50px;
	margin:0 auto;
	transition:all 0.5s;
}
.banner .pt:hover {
	padding-top: 200px;
}
.banner .pt:hover p {
	color:#f00
}
.jianjie {
	width: 100%;
	background:#E2D074;
}

.jianjie_main {
	height: 100%;
	box-sizing: border-box;
	padding:150px 0;
}
.text_center {
	text-align: center;
}
.jianjie_main h1 {
	color:#000;
}
.jianjie_main p {
	line-height: 40px;
	text-align: center;
	color:#000;
}
.pt {
	padding-top: 150px;
}
.animate .toright {
	animation:toright 2s;
}
.animate .toup {
	animation:toup 2s;
}
.animate .toleft {
	animation:toleft 2s;
}
.animate .toleft2 {
	animation:toleft 3s;
}
.animate .todown {
	animation:todown 2s;
}
.animate .xuanzhuan {
	animation:xuanzhuan 2s;
}
.animate .toright2 {
	animation:toright2 1s;
}

.animate .toright3 {
	animation:toright2 2s;
}
.animate .toright4 {
	animation:toright2 3s;
}

.animate .colors {
	animation:colors 3s;
}
@keyframes toright {
	0% {margin-left:-200px;opacity: 0;}
	100% {margin-left:0px;opacity: 1;}
}

@keyframes toup {
	0% {margin-top:100px;opacity: 0;}
	100% {margin-top:0px;opacity: 1;}
}

@keyframes toleft {
	0% {margin-left:200px;opacity: 0;}
	100% {margin-left:0px;opacity: 1;}
}

@keyframes toright2 {
	0% {margin-right:200px;opacity: 0;}
	100% {margin-right:0px;opacity: 1;}
}
@keyframes todown {
	0% {margin-top:-100px;opacity: 0;}
	100% {margin-top:0px;opacity: 1;}
}
@keyframes xuanzhuan {
	0% {transform:rotate(360deg)}
	100% {transform:rotate(0)}
}

@keyframes colors {
	0% {color:#000}
	100% {color:#fff}
}
.love {
	background:#F3F3F3  url(../img/youxi.jpg) no-repeat center center fixed;
}
.aihao {
	padding:150px 0;
	box-sizing: border-box;
}
.aihao ul {
	width: 100%;
	margin:0;
}
.aihao li {
	padding-top:10px;
	padding-bottom:10px;

}
.aihao li img {
	width: 100%;
	transition:all .5s;
	opacity: 0.7;
	border-radius:300px;
	overflow: hidden;
}

.aihao li img:hover {
	width: 100%;
	transform:scale(1.1);
	opacity: 1;
}
.border_left {
	border-left:1px solid #ccc;
}
.border_right {
	border-right:1px solid #ccc;
}
.job {
	padding: 180px 0;
	position: relative;
}

.dialog {
	width: 80%;
	border:1px solid #ccc;
	border-radius: 5px;
	position: relative;
	background: #fff;
	float: right;
	padding-right: 10px;
	margin-top: 120px;
}

.dialog:after {
	content:" ";
	width: 10px;
	height: 10px;
	position: absolute;
	right:-9px;
	top:10px;
	background: url(../img/jiantou.png) no-repeat left top;
}

.dialog2 {
	width: 80%;
	border:1px solid #ccc;
	border-radius: 5px;
	position: relative;
	background: #fff;
	float: left;
	margin-top:100px;
	padding-left: 10px;
}

.dialog2:after {
	content:" ";
	width: 10px;
	height: 10px;
	position: absolute;
	left:-9px;
	top:10px;
	background: url(../img/jiantou2.png) no-repeat left top;
}
.dialog p, .dialog2 p {
	line-height: 30px;
	margin-bottom: 0;
	text-align: right;
}
.dialog2 p {
	text-align: left;
}

.yuanwang {
	line-height: 200px;
	background: #865F2C;
	font-size: 50px;
	color:#fff;
	position: relative;
}

.yuanwang:after {
	content:" ";
	height: 80px;
	width: 100%;
	background: url(../img/xie2.png) no-repeat left top;
	display: block;
	position: absolute;
	bottom:-80px;
	left: 0;
	z-index: 100;
}
.yuanwang p {
	margin-bottom: 0;
}
.footer {
	line-height: 200px;
	font-size: 50px;
	background: #2C8655;
	color:#fff;
	text-align: center;
	padding-top:80px
}
.yuanwang:before {
	content:" ";
	height: 80px;
	width: 100%;
	background: url(../img/xie1.png) no-repeat left top;
	display: block;
	position: absolute;
	top:-80px;
	left: 0;
	z-index: 100;
}